/* You can add global styles to this file, and also import other style files */
form div.input-field input{
    padding-left: 15px !important;
    color:#25a297;
}
.input-field>label{
    font-size:1.5rem;
    font-weight: bold;
}
div.card{
    background-color: #083045;
}
.btn-custom,.btn-custom:hover,.btn-custom:focus{
     
    font-size:1.1rem;
    margin:0px 5px;
    border:#fff solid 1px;
    text-transform: none;
}
a.action-btn:hover{
cursor:pointer;
}
#toast-container {
    top:auto !important;
    right:auto !important;
    bottom: 10%;
    left:7%;

}